.shopCategory {
    display: flex;
    flex-direction: column;
    gap: px;
    padding: 0px 50px;
}

.block {
    display: flex;
    width: 100%;
    gap: 5%;
    /* padding: 0 0px; */
}

.categoryList {
    width: 45%;
    gap: 5px;
    padding: 0 ;
    margin: 0;
}

.categoryHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.categoryHeader h2 {
    margin: 0;
    font-size: 28px;
}

.categoryHeader span {
    font-size: 16px;
}

.categoryItem {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 0;

    font-size: 20px;
    font-weight: 600;

    color: #999;

    cursor: pointer;

    transition: color 0.2s ease;
}

.categoryItem.active {
    color: #111;
}

.categoryImage {
    position: relative;
    height: 470px;
    overflow: hidden;
    border-radius: 10px;
    width: 45%;
}

.categoryImage img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    display: block;
}

.categoryImage h2 {
    position: absolute;
    bottom: 20px;
    left: 25px;

    margin: 0;

    color: white;
    font-size: 28px;
}